DirectoryIndex index.php

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Prevent 403 Forbidden when accessing public directory directly
    RewriteRule ^$ index.php [L]

    # Send all non-existing files/folders to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
